<div class="card" style="width: 18rem;">
    <img class="card-img-top" src="@Image" />
    <div class="card-body">
        <h5 class="card-title">@Hero</h5>
        <p class="card-text">@Backstory</p>
        <div class="row">
            <div class="col"></div>
            <div class="col-lg">
                <a href="@ServerLink" class="btn btn-primary tins-hoz-center">@ServerName</a><br /><sup>@ServerShard</sup>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>

@code { [Parameter]
    public string Hero { get; set; }

    [Parameter]
    public string Backstory { get; set; }

    [Parameter]
    public string Image { get; set; }

    [Parameter]
    public string ServerShard { get; set; }

    [Parameter]
    public string ServerName { get; set; }

    [Parameter]
    public string ServerLink { get; set; } }
