<div class="card shadow-sm text-dark" style="width: 18em; margin-bottom: 10px;">
    <img class="card-img-top" width="286" height="190" src="@SiteHelper.ResolveImagePath(Image, "heroes")" />
    <div class="card-body">
        <h4 class="card-title">@Name</h4>
        <p class="card-text">
            <a href="https://archive.paragonwiki.com/wiki/Category:Origins">Origin</a>: @Origin
            <br /><a href="https://archive.paragonwiki.com/wiki/Archetypes">Archetype</a>: @Archetype
            <br />Affilation: @Affilation
        </p>
        <h5 class="card-title">Powers</h5>
        <p class="card-text">
            Primary: @Primary
            <br />Secondary: @Secondary
            <br />Supplemental: @Supplemental
        </p>
        <div class="row">
            <div class="col"></div>
            <div class="col-lg">
                <a href="@ServerLink" class="btn btn-primary tins-hoz-center">@ServerName</a><br /><sup>Shard: @ServerShard</sup>
            </div>
            <div class="col"></div>
        </div>
    </div>
</div>

@code { [Parameter] public string Name { get; set; }

    [Parameter] public string Image { get; set; }

    [Parameter] public string ServerShard { get; set; }

    [Parameter] public string ServerName { get; set; }

    [Parameter] public string ServerLink { get; set; }

    [Parameter] public string Origin { get; set; }

    [Parameter] public string Archetype { get; set; }

    [Parameter] public string Affilation { get; set; }

    [Parameter] public string Primary { get; set; }

    [Parameter] public string Secondary { get; set; }

    [Parameter] public string Supplemental { get; set; } }
